<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tx.dllogin.dao.DeptMapper">
  <resultMap id="BaseResultMap" type="com.tx.dllogin.model.Dept">
    <id column="dept_id" jdbcType="VARCHAR" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="dept_super_id" jdbcType="VARCHAR" property="deptSuperId" />
    <result column=" sparess_v1" jdbcType="VARCHAR" property="sparessV1" />
    <result column=" sparess_v2" jdbcType="VARCHAR" property="sparessV2" />
    <result column=" sparess_v3" jdbcType="VARCHAR" property="sparessV3" />
  </resultMap>
  <sql id="Base_Column_List">
    dept_id, dept_name, dept_super_id, " sparess_v1", " sparess_v2", " sparess_v3"
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dd_dept
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dd_dept
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tx.dllogin.model.Dept">
    insert into dd_dept (dept_id, dept_name, dept_super_id, 
      " sparess_v1", " sparess_v2", " sparess_v3"
      )
    values (#{deptId,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{deptSuperId,jdbcType=VARCHAR}, 
      #{sparessV1,jdbcType=VARCHAR}, #{sparessV2,jdbcType=VARCHAR}, #{sparessV3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tx.dllogin.model.Dept">
    insert into dd_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="deptSuperId != null">
        dept_super_id,
      </if>
      <if test="sparessV1 != null">
        " sparess_v1",
      </if>
      <if test="sparessV2 != null">
        " sparess_v2",
      </if>
      <if test="sparessV3 != null">
        " sparess_v3",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptId != null">
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptSuperId != null">
        #{deptSuperId,jdbcType=VARCHAR},
      </if>
      <if test="sparessV1 != null">
        #{sparessV1,jdbcType=VARCHAR},
      </if>
      <if test="sparessV2 != null">
        #{sparessV2,jdbcType=VARCHAR},
      </if>
      <if test="sparessV3 != null">
        #{sparessV3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tx.dllogin.model.Dept">
    update dd_dept
    <set>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptSuperId != null">
        dept_super_id = #{deptSuperId,jdbcType=VARCHAR},
      </if>
      <if test="sparessV1 != null">
        " sparess_v1" = #{sparessV1,jdbcType=VARCHAR},
      </if>
      <if test="sparessV2 != null">
        " sparess_v2" = #{sparessV2,jdbcType=VARCHAR},
      </if>
      <if test="sparessV3 != null">
        " sparess_v3" = #{sparessV3,jdbcType=VARCHAR},
      </if>
    </set>
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tx.dllogin.model.Dept">
    update dd_dept
    set dept_name = #{deptName,jdbcType=VARCHAR},
      dept_super_id = #{deptSuperId,jdbcType=VARCHAR},
      " sparess_v1" = #{sparessV1,jdbcType=VARCHAR},
      " sparess_v2" = #{sparessV2,jdbcType=VARCHAR},
      " sparess_v3" = #{sparessV3,jdbcType=VARCHAR}
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </update>

  <select id="findAllDept" resultType="Dept">
    select  dept_id ,dept_name
    from  dd_dept
  </select>


</mapper>