<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tx.dllogin.dao.ShopMapper">
  <resultMap id="BaseResultMap" type="com.tx.dllogin.model.Shop">
    <id column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="shop_user_name" jdbcType="VARCHAR" property="shopUserName" />
    <result column="shop_user_passWrod" jdbcType="VARCHAR" property="shopUserPasswrod" />
    <result column="shop_login_date" jdbcType="TIMESTAMP" property="shopLoginDate" />
    <result column="shop_ip" jdbcType="VARCHAR" property="shopIp" />
    <result column="shop_authorization" jdbcType="VARCHAR" property="shopAuthorization" />
    <result column="sparess_v1" jdbcType="VARCHAR" property="sparessV1" />
    <result column="sparess_v2" jdbcType="VARCHAR" property="sparessV2" />
    <result column="sparess_v3" jdbcType="VARCHAR" property="sparessV3" />
    <result column="return_cookie" jdbcType="VARCHAR" property="returnCookie" />
    <result column="user_typess" jdbcType="VARCHAR" property="userTypess" />
  </resultMap>
  <sql id="Base_Column_List">
    shop_id, shop_user_name, shop_user_passWrod, shop_login_date, shop_ip, shop_authorization, 
    sparess_v1, sparess_v2, sparess_v3, return_cookie, user_typess
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dd_shop
    where shop_id = #{shopId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dd_shop
    where shop_id = #{shopId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tx.dllogin.model.Shop">
    insert into dd_shop (shop_id, shop_user_name, shop_user_passWrod, 
      shop_login_date, shop_ip, shop_authorization, 
      sparess_v1, sparess_v2, sparess_v3, 
      return_cookie, user_typess)
    values (#{shopId,jdbcType=VARCHAR}, #{shopUserName,jdbcType=VARCHAR}, #{shopUserPasswrod,jdbcType=VARCHAR}, 
      #{shopLoginDate,jdbcType=TIMESTAMP}, #{shopIp,jdbcType=VARCHAR}, #{shopAuthorization,jdbcType=VARCHAR}, 
      #{sparessV1,jdbcType=VARCHAR}, #{sparessV2,jdbcType=VARCHAR}, #{sparessV3,jdbcType=VARCHAR}, 
      #{returnCookie,jdbcType=VARCHAR}, #{userTypess,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tx.dllogin.model.Shop">
    insert into dd_shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="shopUserName != null">
        shop_user_name,
      </if>
      <if test="shopUserPasswrod != null">
        shop_user_passWrod,
      </if>
      <if test="shopLoginDate != null">
        shop_login_date,
      </if>
      <if test="shopIp != null">
        shop_ip,
      </if>
      <if test="shopAuthorization != null">
        shop_authorization,
      </if>
      <if test="sparessV1 != null">
        sparess_v1,
      </if>
      <if test="sparessV2 != null">
        sparess_v2,
      </if>
      <if test="sparessV3 != null">
        sparess_v3,
      </if>
      <if test="returnCookie != null">
        return_cookie,
      </if>
      <if test="userTypess != null">
        user_typess,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="shopUserName != null">
        #{shopUserName,jdbcType=VARCHAR},
      </if>
      <if test="shopUserPasswrod != null">
        #{shopUserPasswrod,jdbcType=VARCHAR},
      </if>
      <if test="shopLoginDate != null">
        #{shopLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shopIp != null">
        #{shopIp,jdbcType=VARCHAR},
      </if>
      <if test="shopAuthorization != null">
        #{shopAuthorization,jdbcType=VARCHAR},
      </if>
      <if test="sparessV1 != null">
        #{sparessV1,jdbcType=VARCHAR},
      </if>
      <if test="sparessV2 != null">
        #{sparessV2,jdbcType=VARCHAR},
      </if>
      <if test="sparessV3 != null">
        #{sparessV3,jdbcType=VARCHAR},
      </if>
      <if test="returnCookie != null">
        #{returnCookie,jdbcType=VARCHAR},
      </if>
      <if test="userTypess != null">
        #{userTypess,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tx.dllogin.model.Shop">
    update dd_shop
    <set>
      <if test="shopUserName != null">
        shop_user_name = #{shopUserName,jdbcType=VARCHAR},
      </if>
      <if test="shopUserPasswrod != null">
        shop_user_passWrod = #{shopUserPasswrod,jdbcType=VARCHAR},
      </if>
      <if test="shopLoginDate != null">
        shop_login_date = #{shopLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shopIp != null">
        shop_ip = #{shopIp,jdbcType=VARCHAR},
      </if>
      <if test="shopAuthorization != null">
        shop_authorization = #{shopAuthorization,jdbcType=VARCHAR},
      </if>
      <if test="sparessV1 != null">
        sparess_v1 = #{sparessV1,jdbcType=VARCHAR},
      </if>
      <if test="sparessV2 != null">
        sparess_v2 = #{sparessV2,jdbcType=VARCHAR},
      </if>
      <if test="sparessV3 != null">
        sparess_v3 = #{sparessV3,jdbcType=VARCHAR},
      </if>
      <if test="returnCookie != null">
        return_cookie = #{returnCookie,jdbcType=VARCHAR},
      </if>
      <if test="userTypess != null">
        user_typess = #{userTypess,jdbcType=VARCHAR},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tx.dllogin.model.Shop">
    update dd_shop
    set shop_user_name = #{shopUserName,jdbcType=VARCHAR},
      shop_user_passWrod = #{shopUserPasswrod,jdbcType=VARCHAR},
      shop_login_date = #{shopLoginDate,jdbcType=TIMESTAMP},
      shop_ip = #{shopIp,jdbcType=VARCHAR},
      shop_authorization = #{shopAuthorization,jdbcType=VARCHAR},
      sparess_v1 = #{sparessV1,jdbcType=VARCHAR},
      sparess_v2 = #{sparessV2,jdbcType=VARCHAR},
      sparess_v3 = #{sparessV3,jdbcType=VARCHAR},
      return_cookie = #{returnCookie,jdbcType=VARCHAR},
      user_typess = #{userTypess,jdbcType=VARCHAR}
    where shop_id = #{shopId,jdbcType=VARCHAR}
  </update>







</mapper>